---
Checks:
  - "bugprone-*"
  - "cert-*"
  - "clang-analyzer-*"
  - "concurrency-*"
  - "cppcoreguidelines-*"
  - "hicpp-*"
  - "misc-*"
  - "modernize-*"
  - "performance-*"
  - "portability-*"
  - "readability-*"
  # clashes with Qt's memory management paradigm
  - "-cppcoreguidelines-owning-memory"
HeaderFilterRegex: ".*KTailctl/src/.*"
WarningsAsErrors: true
UseColor: true
