---
Checks: "clang-diagnostic-*,clang-analyzer-*,bugprone-*,cert-*,concurrency-*,cppcoreguidelines-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type"
AnalyzeTemporaryDtors: false
WarningsAsErrors: true
UseColor: true
