if [ -d ${PWD}/craft ]; then
    export CRAFT_ROOT=${PWD}/craft
    export CRAFT_HOME=${CRAFT_ROOT}/home/${USER}

    export XDG_CONFIG_DIRS=${CRAFT_ROOT}/etc/xdg:${XDG_CONFIG_DIRS}
    export M4=${CRAFT_ROOT}/bin/m4
    export PKG_CONFIG_PATH=${CRAFT_ROOT}/lib/pkgconfig:${PKG_CONFIG_PATH}
    export BISON_PKGDATADIR=${CRAFT_ROOT}/share/bison:${BISON_PKGDATADIR}
    export MACOSX_DEPLOYMENT_TARGET=10.15
    export CXX=/usr/bin/clang++
    export CXXFLAGS=-fdiagnostics-color=always
    export LDFLAGS=-Wl,-rpath,${CRAFT_ROOT}/lib
    export craftRoot=${CRAFT_ROOT}/craft
    export XDG_DATA_HOME=${CRAFT_HOME}/.local5/share
    export XDG_CONFIG_HOME=${CRAFT_HOME}/.config
    export XDG_CACHE_HOME=${CRAFT_HOME}/.cache

    export PYTHONPATH=${CRAFT_ROOT}/lib/site-packages
    export SHLVL=2
    export QTEST_MAX_WARNINGS=0
    export PAGER=less
    export QML_IMPORT_PATH=${CRAFT_ROOT}/qml:${CRAFT_ROOT}/lib/qml:${CRAFT_ROOT}/lib64/qml:${CRAFT_ROOT}/lib/x86_64-linux-gnu/qml:${CRAFT_ROOT}/lib64/qml:${QML2_IMPORT_PATH}
    export QML2_IMPORT_PATH=${CRAFT_ROOT}/qml:${CRAFT_ROOT}/lib/qml:${CRAFT_ROOT}/lib64/qml:${CRAFT_ROOT}/lib/x86_64-linux-gnu/qml:${CRAFT_ROOT}/lib64/qml:${QML2_IMPORT_PATH}
    export SSL_CERT_FILE=${CRAFT_ROOT}/etc/cacert.pem
    export KDEROOT=${CRAFT_ROOT}
    export REQUESTS_CA_BUNDLE=${CRAFT_ROOT}/etc/cacert.pem
    export QT_DATA_DIRS=${CRAFT_ROOT}/share:${QT_DATA_DIRS}
    export XDG_DATA_DIRS=${CRAFT_ROOT}/share:${XDG_DATA_DIRS}
    export PATH=${CRAFT_ROOT}/bin:${CRAFT_ROOT}/libexec:${CRAFT_ROOT}/dev-utils/bin:${CRAFT_ROOT}/etc/virtualenv/3/bin:${CRAFT_ROOT}/etc/virtualenv/2/bin:${CRAFT_ROOT}/craft/bin:/Users/fkoehler/Code/KTailctl/craft/bin:${PATH}
    export CC=/usr/bin/clang
    export CFLAGS=-fdiagnostics-color=always
    export CRAFT_PYTHON_BIN=/opt/homebrew/bin/python3
    export QT_PLUGIN_PATH=${CRAFT_ROOT}/plugins:${CRAFT_ROOT}/lib/plugins:${CRAFT_ROOT}/lib64/plugins:${CRAFT_ROOT}/lib/x86_64-linux-gnu/plugins:${CRAFT_ROOT}/lib/plugin:${QT_PLUGIN_PATh}
fi