[submodule "flathub"]
	path = flathub
	url = git@github.com:flathub/org.fkoehler.KTailctl.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/corrosion"]
	path = deps/corrosion
	url = https://github.com/corrosion-rs/corrosion.git
