repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v21.1.8"
    hooks:
      - id: clang-format
  - repo: https://github.com/f-koehler/qml-pre-commit
    rev: "v0.3.0"
    hooks:
      - id: qmlformat
      - id: qmllint
