# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Fabian Köhler <me@fkoehler.org>
[Desktop Entry]
Name=KTailctl
Comment=GUI for tailscale on the KDE Plasma desktop
Version=1.5
Exec=ktailctl
Icon=org.fkoehler.KTailctl
Type=Application
Terminal=false
Categories=Qt;KDE;System;
