name: CI
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main
jobs:
  golangci:
    name: Go Analysis & Formatting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        script:
          - gocritic
          - gofmt
          - gofumpt
          - goimports
          - goreturns
          - gosec
          - gostaticcheck
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup go.
        uses: actions/setup-go@v5.0.0
        with:
          go-version: "stable"
      - name: Install dependencies.
        run: sudo ./scripts/ubuntu-deps.sh
      - name: Configure CMake project.
        run: cmake -B build
      - name: Run ${{ matrix.script }}.
        run: ./scripts/${{ matrix.script }}.sh
  qmllint:
    name: QML Analysis & Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies.
        run: sudo ./scripts/ubuntu-deps.sh
      - name: Install QML dev tools.
        run: sudo apt install -y qtdeclarative5-dev-tools
      - name: Lint QML files.
        run: find ./src -type f -name "*.qml" -exec /usr/lib/qt5/bin/qmllint "{}" \;
      - name: Format QML files.
        run: find ./src -type f -name "*.qml" -exec /usr/lib/qt5/bin/qmlformat --inplace "{}" \;
  build:
    name: Build with LLVM ${{ matrix.llvm_version }}
    runs-on: ubuntu-latest
    needs:
      - qmllint
      - golangci
    strategy:
      fail-fast: false
      matrix:
        llvm_version: [15, 16, 17]
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup go.
        uses: actions/setup-go@v5.0.0
        with:
          go-version: "stable"
          cache-dependency-path: tailwrap/go.sum
      - name: Vendor go dependencies.
        run: go mod vendor
        working-directory: tailwrap
      - name: Install dependencies.
        run: sudo ./scripts/ubuntu-deps.sh
      - name: Add LLVM apt key.
        run: wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - name: Add LLVM repo.
        run: sudo add-apt-repository -y "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-${{ matrix.llvm_version }} main"
      - name: Install clang.
        run: sudo apt install -y clang-${{ matrix.llvm_version }}
      - name: Configure CMake project.
        run: CC=clang-${{ matrix.llvm_version }} CXX=clang++-${{ matrix.llvm_version }} cmake -B build
      - name: Build CMake project.
        run: cmake --build build
  flatpak_build:
    name: Flatpak build
    runs-on: ubuntu-latest
    needs:
      - qmllint
      - golangci
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Update apt cache.
        run: sudo apt-get update -yq
      - name: Install flatpak-builder.
        run: sudo apt-get install -yq flatpak-builder flatpak
      - name: Add flathub remote.
        run: flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
      - name: Install Builder.
        run: flatpak install --user -y flathub org.flatpak.Builder
      - name: Validate manifest.
        run: flatpak run --command=flatpak-builder-lint org.flatpak.Builder manifest org.fkoehler.KTailctl.yml
      - name: Install external data checker.
        run: flatpak install --user -y flathub org.flathub.flatpak-external-data-checker
      - name: Check external data.
        run: flatpak run org.flathub.flatpak-external-data-checker --check-outdated org.fkoehler.KTailctl.yml
      - name: Install KDE SDK.
        run: flatpak install --user -y flathub org.kde.Sdk//5.15-23.08 org.kde.Platform/x86_64/5.15-23.08
      - name: Install Go SDK.
        run: flatpak install --user -y flathub org.freedesktop.Sdk.Extension.golang/x86_64/23.08
      - name: Install LLVM SDK.
        run: flatpak install --user -y flathub runtime/org.freedesktop.Sdk.Extension.llvm17/x86_64/23.08
      - name: Setup go.
        uses: actions/setup-go@v5.0.0
        with:
          go-version: "stable"
      - name: Vendor go dependencies.
        run: go mod vendor
        working-directory: tailwrap
      - name: Build.
        run: flatpak-builder --user --force-clean build-dir org.fkoehler.KTailctl.yml
  appimage_build:
    name: AppImage build
    runs-on: ubuntu-latest
    needs:
      - qmllint
      - golangci
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup go.
        uses: actions/setup-go@v5.0.0
        with:
          go-version: "stable"
          cache-dependency-path: tailwrap/go.sum
      - name: Vendor go dependencies.
        run: go mod vendor
        working-directory: tailwrap
      - name: Install dependencies.
        run: sudo ./scripts/ubuntu-deps.sh
      - name: Add LLVM apt key.
        run: wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - name: Add LLVM repo.
        run: sudo add-apt-repository -y "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-17 main"
      - name: Install clang.
        run: sudo apt install -y clang-17
      - name: Get appimage-builder.
        working-directory: AppImage
        run: wget -O appimage-builder https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.1.0/appimage-builder-1.1.0-x86_64.AppImage
      - name: Make appimage-builder executable.
        working-directory: AppImage
        run: chmod +x appimage-builder
      - name: Build AppImage.
        working-directory: AppImage
        run: CC=clang-17 CXX=clang++-17 ./build.sh
  create_release:
    if: startsWith(github.event.ref, 'refs/tags/v')
    name: Create release
    runs-on: ubuntu-latest
    needs:
      - build
      - flatpak_build
      - appimage_build
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies.
        run: sudo ./scripts/ubuntu-deps.sh
      - name: Install GH CLI.
        run: |
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg \
          && sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg \
          && echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
          && sudo apt update \
          && sudo apt install gh -y
      - name: Create release.
        run: ./scripts/create-release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
